<h1> Article Page</h1>

<h3><%= @article.title %></h3>

<%= image_tag set_img_if_not_existed(@article), class:'art-img'%>

<p><%= @article.text %></p>

<p>Categories: <%= @article.category.name %></p>
