#marg-zero {
    margin-bottom: 0;
}

.main {
    text-align: center;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.art-img {
    width: 50vw;
}