#marg-zero {
    margin-bottom: 0;
}

body {
    a {
        text-decoration: none;
        color: #847f7b;
        &:hover,&:target {
            color: #e75a15;
        }
    }
}

.main {
    // text-align: center;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.art-img {
    height: 50vh;
}

.main-cat {
    height: 250px;
}

.most-voted {
    height: 70vh;
}

.main-cat, .most-voted {
    position: relative;
    z-index: 1;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.retro {
    box-shadow: inset 43px -42px 185px 71px #000000;
    -webkit-box-shadow: inset 36px -17px 107px 22px #000000;
    background: -webkit-linear-gradient(top, rgba(255, 145, 0, 1.2) 0%, rgba(255, 230, 48, 0.2) 70%), -webkit-linear-gradient(20deg, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 35%);
    display: table;
}

.dark {
    background-color: #000000;    
    opacity: 0.2;
}

.most-title {
    font-weight: bold;
    font-size: 2em;
    color: #b93e00;
    position: absolute;
    bottom: 10px;
    .most-text {
        font-weight: bold;
        font-size:0.6em;
        color:black;
    }
}

.cat-name {
    position: absolute;
    margin-top: 8px;
    a {
        color: white;
        font-size: larger;
        font-weight: bold;
        border-bottom: solid 3px #F4ED11;
        padding: 5px 5px;
    }
}

.cat-title {
    position: absolute;
    bottom: 10px;
    font-size: larger;
    font-weight: bold;
}
