#marg-zero {
    margin-bottom: 0;
}

body {
    a {
        text-decoration: none;
        color: #847f7b;
        &:hover,&:target {
            color: #e75a15;
        }
    }
}

.main {
    text-align: center;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

.art-img {
    height: 50vh;
}

.main-cat {
    height: 250px;
}

.most-voted {
    height: 50vh;
}

.main-cat, .most-voted {
    border: 1px solid lightgrey;
    position: relative;
    z-index: 1;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
