<footer class="navbar navbar-fixed-top navbar-inverse bg-light">
      <div class="container">
        <%= image_tag "logo-trans.png", class: 'mb4 logo nav-logo' %>
        <nav>
          <ul class="nav navbar-nav navbar-right flex-row">
            <li><%= link_to "HOME",   '#', class: 'p-3' %></li>
          </ul>
        </nav>
    </div>
</footer>
