<% if !logged_in? %>
    <%= link_to "Login", login_path %></p>
<% else %>
    <main class="main">
        <h1>Homepage</h1>
        Welcome, <%= current_user.name %> <br><br>
        <%= link_to "Logout", logout_path, method: :delete %></p>
    </main>
<% end %>
